@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  width: 1280px;
}

body {
  margin: o auto;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page_container {
  display: flex;
  flex-direction: column;
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}

/* Pages */
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}
.navigation_logo_image {
  margin-right: 30px;
  width: 138px;
  height: 64px;
}
.navigation_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 439px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation_link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation_link_current::before {
  position: absolute;
  display: block;
  left: 16px;
  bottom: -6px;
  margin: auto;
  width: calc(100% - 4px - 16px * 2);
  height: 0;
  border: 2px solid #756257;
  content: "";
}
.navigation_user {
  max-width: 315px;
  margin-left: auto;
}
.navigation_user .navigation_link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}
.navigation_user .navigation_item:first-child .navigation_link {
  background-image: url("../image/icons/search_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.navigation_user .navigation_item:last-child .navigation_link {
  position: relative;
  background-image: url("../image/icons/heart_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.navigation_button {
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  align-self: center;
}
.navigation_button:hover {
  background: #615048;
}
.navigation_button:focus {
  background: #615048;
}
.navigation_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.favourites {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 4px;
  top: 11px;
  padding: 5px 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 50%;
}

/*Main*/

.main_container {
  flex-grow: 1;
}
.main_page_container {
  width: 1200px;
  margin: 0 auto;
}
.welcom {
  padding-bottom: 82px;
  padding-top: 50px;
  background-color: #E6E6FA;
  background-image: url("../image/sedona_main_index_img.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.welcome_to_sedona {
  display: block;
  margin: 0 auto;
}

/*advantages*/
.advantages {
  padding-top: 69px;
}
.advantages_caption {
  width: 620px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages_caption_reasons {
  width: 651px;
  margin: auto;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.advantages_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages_item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
}
.advantages_container {
  display: flex;
  justify-content: space-between;
}
.advantages_card_container {
  box-sizing: border-box;
  width: 400px;
  padding: 92px 85px 111px;
}
.advantages_item_blue_card {
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.advantages_item_lightblue_card {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages_image {
  display: block;
}
.advantages_title {
  position: relative;
  padding:0;
  margin:0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.advantages_title::before {
  position: absolute;
  left: 85px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color:  rgba(0, 0, 0, 0.3);
  content: "";
}
.advantages_item_blue_card .advantages_title::before {
  background-color: rgba(255, 255, 255, 0.3);
}
.advantages_description {
  padding:0;
  margin:0;
  text-align: center;
}

/*services*/

.services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.services_item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}
.services_card_container {
  box-sizing: border-box;
  width:400px;
  padding: 80px 85px;
}
.services_item_white_card {
  color: #000000;
  background-color: #FFFFFF;
}
.services_image {
  margin-bottom: 30px;
}
.services_title {
  padding:0;
  margin:0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.services_description {
  padding:0;
  margin:0;
  text-align: center;
}

/*search_hotel*/
.search_hotel {
  padding: 96px 304px;
}
.search_hotel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search_hotel_title {
  margin:0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search_hotel_description {
  margin:0;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.search_hotel_button {
 padding: 8px 50px;
 font-size: 20px;
 line-height: 36px;
 background-color: #756157;
}
.search_hotel_button:hover {
  background: #615048;
}
.search_hotel_button:focus {
  background: #615048;
}
.search_hotel_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}
.search_hotel_button:disabled {
  background: #E5E5E5;
}

/*Footer*/
/*mailing*/
.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.mailing {
  padding:96px 258px 104px 258px;
  background-color: #E6E6FA;
  background-image: url("../image/sedona_footer_index_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.mailing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mailing_title {
  margin:0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.mailing_description {
  margin:0;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.mailing_button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}
.mailing_button:hover {
  background: #68A2CA;
}
.mailing_button:focus {
  background: #68A2CA;
}
.mailing_button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.mailing_button:disabled {
  background: #E5E5E5;
}

/*social*/
.footer_contacts_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}
.social_block {
  display: flex;
  flex-wrap: wrap;
  width: 142;
  max-width: 182px;
}
.social_link {
  position: relative;
  width: 47px;
  height: 40px;
  margin-bottom: 5px;
}
.social_link_icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #82B3D3;
}
.social_link_icon:hover {
  fill: #68A2CA;
}
.social_link_icon:focus {
  fill: #68A2CA;
}
.social_link_icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

/*contacts*/
.contacts {
  width: 331px;
  margin-right: 234px;
  margin-left: 234px;
}
.contacts_address_phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.contacts_address_phone:hover {
  color: #756157;
}
.contacts_address_phone:focus {
  color: #756157;
}
.contacts_address_phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*.copyright*/
.copyright {
  width: 115px;
}
.copyright_link {
  position: relative;
}
.copyright_link_icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #000000;
}
.copyright_link_icon:hover {
  fill: #756157;;
}
.copyright_link_icon:focus {
  fill: #756157;;
}
.copyright_link_icon:active {
  fill: rgba(117, 97, 87, 0.3);;
}

/*Main_inner*/
.inner_header {
  padding: 35px 70px 70px;
  background-color: #82B3D3;
  background-image: url("../image/sedona_inner_main_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.inner_header_title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #2F4250;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  list-style: none;
}
.breadcrumbs_item {
  margin-right: 28px;
}
.breadcrumbs_link {
  color: inherit;
  padding: 0;
}
.breadcrumbs_item:first-child .breadcrumbs_link {
  display: block;
  position: relative;
  width: 14px;
  height: 15px;
  padding: 0 0 2px;
  align-self: center;
}
.breadcrumbs_link_home {
  position: absolute;
  margin:3.5px 5.5px 0.5px;
  margin-left: 0;
}
.breadcrumbs_link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs_link:focus {
  color: #FFFFFF;
}
.breadcrumbs_link:active {
  color: rgba(255, 255, 255, 0.3);
}
/*filters*/
.filter_hotels_form {
  display: grid;
  grid-template-columns: 151px 70px 151px  140px 288px 70px 191px;
  color: #FFFFFF;
}
.filter_infrastructure {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  border: none;
}
.filter_housing {
  grid-column: 3/4;
  margin: 0;
  padding: 0;
  border: none;
}
.fieldset_button_container {
  grid-column: 7/8;
  margin: 0;
}
.filter_infrastructure_list,
.filter_housing_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter_infrastructure_item:not(:last-child), .filter_housing_item:not(:last-child) {
  margin-bottom: 16px;
}
.filter_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.control_label {
  line-height: 23px;
  text-align: left;
}
.fieldset_button {
  width: 191px;
  background-color: #82B3D3;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 8px 50px;
  box-sizing: border-box;
}
.fieldset_button:hover {
  background: #68A2CA;
}
.fieldset_button:focus {
  background: #68A2CA;
}
.fieldset_button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.fieldset_button:disabled {
  background: #E5E5E5;
}

.fieldset_button_reset {
  width: 191px;
  background-color: transparent;
  padding: 8px 57px;
  box-sizing: border-box;
}
.fieldset_button_reset:hover {
  opacity: 0.6;
}
.fieldset_button_reset:focus {
  border: 3px solid #83B3D3;
}
.fieldset_button_reset:active {
  color: rgba(255, 255, 255, 0.3);
}
.fieldset_button_reset:disabled {
  opacity: 0.1;
}

/*hotel_catalog*/
.section_hotel_catalog {
  padding: 50px 70px 60px;
}
/*sorting-container*/
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.found_hotels_title {
  margin: 0;
  margin-right: 192px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}
.select_control {
  margin-right: 70px;
}
.catalog_view_block {
  display: flex;
}
.view_toggle{
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}
.view_toggle_—Åurrent {
  border: 2px solid #000000;
}
.view_toggle:nth-child(1){
  background-image: url("../image/icons/cards_icon.svg")
}
.view_toggle:nth-child(2){
  background-image: url("../image/icons/computer_icon.svg")
}
.view_toggle:nth-child(3){
  background-image: url(../image/icons/list_icon.svg);
  margin-right: 0;
}
.view_toggle:hover {
  border: 2px solid #000000;
}
.view_toggle:focus {
  border: 2px solid #68A2CA;
}
.view_toggle:active {
  border: 2px solid #000000;
}

/*hotel_cards*/
.hotel_cards_list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}
.hotel_cards_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.hotel_cards_content {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 37px 37px;
  gap: 16px 20px;
}
.hotel_cards_title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.hotel_cards_link {
  margin-bottom: 16px;
  text-decoration: none;
}
.hotel_cards_description {
  margin: 0;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}
.hotel_cards_price {
  text-align: right;
  font-size: 18px;
  line-height: 21px;
}
.button_more_detailed {
  background-color: #756157;
  align-self: center;
  padding: 8px 26px;
}
.button_more_detailed:hover {
  background: #615048;
}
.button_more_detailed:focus {
  background: #615048;
}
.button_more_detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button_favorite {
  background-color: #82B3D3;
}
.button_favorite:hover {
  background: #68A2CA;
}
.button_favorite:focus {
  background: #68A2CA;
}
.button_favorite:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.button_favorite:disabled {
  background: #E5E5E5;
}

.button_favorite_green {
  background-color: #7DB54F;
}
.button_favorite_green:hover {
  background-color:  #6C9E42;;
}
.button_favorite_green:focus {
  background-color:  #6C9E42;;
}
.button_favorite_green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}
.button_favorite_green:disabled {
  background: #E5E5E5;
}

.rating_star {
  margin: 0;
  align-self: center;
}
.four_rating_star{
  width: 90px;
  background-image: url("../image/icons/star_icon.svg");
  background-repeat: space;
  background-size: 18px 17px;
}
.rating {
  margin: 0;
  padding: 8px 22px;
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/*pagination*/
.pagination_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination_item:not(:last-child) {
  margin-right: 8px;
}
.pagination_link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px 12px 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}
.pagination_link:nth-last-child(1) {
  padding: 12px 18px 12px 18px;
}
.pagination-current {
  padding: 16px 22px 18px 22px;
  color: #000000;
  background-color: #F2F2F2;
}
.pagination_still {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}
.pagination_link:hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}
.pagination_link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}
.pagination_link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3
}

/*inner_footer*/
.mailing_inner_footer {
  color: #000000;
  background-color: #FFFFFF;
  background-image: none;
}
