@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  width: 1280px;
}

body {
  margin: o auto;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.page_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* Pages */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation_list {
  max-width: 439px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 315px;
  margin-left: auto;
}

.navigation_link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation_link_button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.favourites {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  color: #FFFFFF;
}

/*Main*/

/*.main_container {
  flex-grow: 1;
}*/

.main__page_container {
  width: 1200px;
  margin: 0 auto;
}

.welcom {
  background-color: #82B3D3;
  background-image: url("../image/sedona_main_index_img.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

.welcome_to_sedona {
  display: block;
  margin: 0 auto;
}

/*advantages*/
.text_about_sedona {
  width: 620px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.text_about_sedona_reasons {
  width: 651px;
  margin: auto;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages_item {
  width: 400px;
  height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;

}

.advantages_container {
  display: flex;
  justify-content: space-between;
}

.advantages_card_container {
  width: 400px;
  height: 384px;
}

.advantages_item_blue_card {
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages_item_lightblue_card {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages_image {
  display: block;
}

.advantages_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages_description {
  text-align: center;
}

/*services*/

.services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.services_item {
  width: 400px;
  height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.services_item_white_card {
  color: #000000;
  background-color: #FFFFFF;
}

.services_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.services_description {
  text-align: center;
}

/*search_hotel*/

.search_hotel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 96px 304px;
}
.search_hotel_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search_hotel_description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button_brown {
  background-color: #756157;
}

/*Footer*/
/*mailing*/
.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.mailing {
  width: 1200px;
  height: 415px;
  background-color: #82B3D3;
  background-image: url("../image/sedona_footer_index_img.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  color: #FFFFFF;
}
.mailing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:96px 258px 104px;
}
.mailing_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.mailing_description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button_blue {
  background-color: #82B3D3;
}

/*social*/
.footer_contacts_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 40px 70px 30px 70px;
}
.social {
  margin-right: 194px;
}
.social_list {
  list-style: none;
}

/*contacts*/
.contacts {
  max-width: 182px;
  width: 331px;

}
.contacts_address_phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;

}
.copyright {
  width: 115px;
  margin-left: auto;
}
/*Main_inner*/
.inner_header {
  background-color: #82B3D3;
  background-image: url("../image/sedona_inner_main_header.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 412px;
}
.inner_header_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #2F4250;
}

/* Breadcrumbs */
.breadcrumbs {
  color: #FFFFFF;
  font-size: 16px;
  list-style: none;
}

.breadcrumbs_link {
  color: inherit;
  padding: 0;
}

/*filters*/
.filter_hotels {
  display: flex;
  color: #FFFFFF;
}

.filter_infrastructure_list,
.filter_type_of_housing_list {
  list-style: none;
}

.filter_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.control_label {
  line-height: 23px;
  text-align: left;
}

/*hotel_catalog*/
.section_hotel_catalog {
  width: 1060px;
  margin-left: 70px;
  margin-right: 70px;

}
/*sorting-container*/
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.found_hotels {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}
.catalog_view {
  list-style: none;
}

/*hotel_cards*/
.hotel_cards_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.hotel_cards_item {
  width: 340px;
  height: 438px;
}
.hotel_cards_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.hotel_cards_link {
  text-decoration: none;
}

.hotel_cards_description {
  text-align: left;
}

.hotel_cards_price {
  text-align: right;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/*pagination*/
.pagination_list {
  display: flex;
  list-style: none;
  padding: 0;
}
.pagination_item {
  width: 60px;
  height: 60px;
}
.pagination_link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination_still {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

/*inner_footer*/
.mailing_inner_footer {
  background-color: #000000;
  background-image: none;
}
